<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<body>
<div th:if="${aux == 0}">
  <nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})}, ${usuario.getAdminApproved()})" ></nav>
</div>
<div th:if="${aux == 1}">
  <nav th:replace="fragments :: Menu (${null}, @{/login}, ${null})" ></nav>
</div>
<div class="container-fluid">
  <div class="container-fluid">
    <h1>ToDoList</h1>
    <ul>
      <li>Desarrollada por Carlos Poveda Cañizares </li>
      <li>Versión 1.2.0-SNAPSHOT</li>
      <li>Fecha de release: 12/10/21</li>
    </ul>
  </div>

</div>

<div th:replace="fragments::javascript"/>

</body>
</html>