<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')">
    <nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})}, ${usuario.getAdminApproved()})"></nav>
</head>

<body>
<br>
<div align="center" th:marginheight="5px" >
    <div class="card border-primary mb-3" style="max-width: 95%;">
        <div class="card-body text-primary">
            <h5 class="card-title" th:text="${equipo.nombre}"></h5>
            <img th:src="@{${'/user-images/team-images/' + equipo.getImage()}}" width="120px" height="160px">
            <br>
            <br>
            <h6 class="card-subtitle mb-2">Integrantes: </h6>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${equipo.getUsuarios()}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.nombre}"></td>
                    <td th:text="${user.email}"></td>
                </tr>
                </tbody>
            </table>
            <h6 class="card-subtitle mb-2">Descripción: </h6>
            <p th:text="${equipo.descripcion}"></p>
        </div>
    </div>
    <div>
        <div th:if="${usuario.getEquipos().contains(equipo)}">
            <form method="post" th:action="@{/equiposdel/{id}(id=${equipo.id})}">
                <button class="btn btn-danger btn-xs"  th:text="Abandonar" type="submit"/></a>
            </form>
        </div>
        <div th:unless="${!usuario.getEquipos().contains(equipo) == false}">
            <form method="post" th:action="@{/equipos/{id}(id=${equipo.id})}">
                <button class="btn btn-primary btn-xs"  th:text="Unirse" type="submit"/></a>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments::javascript"/>
</body>
</html>