<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')">
    <nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})}, ${usuario.getAdminApproved()})"></nav>
</head>

<body>
<br>
<div align="center" th:marginheight="5px" >
    <h5 class="card-title" th:text="${equipo.nombre}"></h5>
    <div class="card border-primary mb-3" style="max-width: 95%;">
        <div class="card-body text-primary">



            <h5 class="card-title" >Informacion del equipo</h5>
            <img th:src="@{${'/user-images/team-images/' + equipo.getImage()}}" width="120px" height="160px" style="border-radius: 15px;">
            <br>

            <br>
            <h6 class="card-subtitle mb-2">Integrantes: </h6>
            <table class="table table-striped" >
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th> Accion</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${equipo.getUsuarios()}">
                    <td th:text="${user.id}"></td>
                    <td th:if="${equipo.getIdAdmin()==user.getId()}" style="color:red" th:text="${user.nombre}"></td>
                    <td th:if="${equipo.getIdAdmin()!=user.getId()}"  th:text="${user.nombre}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:if="${equipo.getIdAdmin()==user.getId()}"> ADMIN</td>
                    <td th:if="${equipo.getIdAdmin()!=user.getId() && idUsuarioLogeado==equipo.getIdAdmin()}">
                        <form method="post" th:action="@{/equipos/{idEquipo}/admin/{idUsuario}(idUsuario=${user.id}, idEquipo=${equipo.id})}" th:object="${equipoData}">
                            <button class="btn btn-outline-primary">Hacer admin</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <h6 class="card-subtitle mb-2">Descripción: </h6>
            <p th:text="${equipo.descripcion}"></p>
        </div>
    </div>
    <div >
        <div class="card border-primary mb-3" style="max-width: 95%;">
            <div class="card-body text-primary">
                <h5 class="card-title" >Tareas del Equipo</h5>
                <table class="table table-striped" >
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="tarea: ${equipo.getTareas()}">
                        <td th:text="${tarea.getTitulo()}"></td>
                        <td th:text="${tarea.getDescripcion()}"></td>
                        <td th:if="${equipo.getUsuarios().contains(usuario)}"><a class="btn btn-primary btn-xs" th:href="@{/tareas/{id}/editar(id=${tarea.id})}"/>editar</a>


                            <button class="btn btn-danger btn-xs" onmouseover="" style="cursor: pointer;"
                                    th:onclick="'delTarea(\'/tareas/' + ${tarea.id} + '\')'">borrar</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <a th:if="${equipo.getUsuarios().contains(usuario) && equipo.getTareas().isEmpty()}"  >Este equipo todavía no tiene tareas</a>

            </div>
        </div>


        <a th:if="${equipo.getUsuarios().contains(usuario)}" class="btn btn-primary" th:href="@{/equipos/{id}/tareas/nueva/{idUsuario}(id=${equipo.id}, idUsuario=${usuario.id})}">Nueva tarea</a>
    </div>
    <div>
        <div th:if="${usuario.getEquipos().contains(equipo) && equipo.getIdAdmin()!=usuario.getId()}">
            <form method="post" th:action="@{/equiposdel/{id}(id=${equipo.id})}">
                <button class="btn btn-danger btn-xs"  th:text="Abandonar" type="submit"/></a>
            </form>
        </div>
        <div th:unless="${!usuario.getEquipos().contains(equipo) == false}">
            <form method="post" th:action="@{/equipos/{id}(id=${equipo.id})}">
                <button class="btn btn-primary btn-xs"  th:text="Unirse" type="submit"/></a>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments::javascript"/>
<script type="text/javascript">
    function delTarea(urlBorrar) {
        if (confirm('¿Estás seguro/a de que quieres borrar la tarea?')) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function (results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    }
</script>
</body>
</html>