<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})}, ${usuario.getAdminApproved()})"></nav>
<div class="container-fluid">

    <h2>Nuevo Equipo</h2>

    <form method="post" enctype="multipart/form-data" th:action="@{/equipos}" th:object="${equipoData}">
        <div class="col-6">
            <div class="form-group">
                <label for="nombre">Nombre del Equipo:</label>
                <input class="form-control" id="nombre" name="nombre" required  type="text"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <input class="form-control" id="descripcion" name="descripcion" required  type="text"/>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen de Equipo</label>
                <input id="imagen" type="file" name="imagen" class="form-label" accept="image/png, image/jpeg" />
            </div>
            <div>
                <p>
                    <img width="70px" height="90px" id="thumbnail" alt="Img Preview" src="./user-images/team-images/img.png">
                </p>
            </div>
            <button class="btn btn-primary" type="submit">Crear Equipo</button>
            <a class="btn btn-danger btn-xs" th:href="@{/equipos}">Cancelar</a>
        </div>
    </form>

</div>

<div th:replace="fragments::javascript"/>

<script>
    $(document).ready(function () {
        $('#imagen').change(function() {
            showImageThumbnail(this)
        });
    });

    function showImageThumbnail(imagen) {
        file = imagen.files[0];
        reader = new FileReader();

        reader.onload = function(e) {
            $('#thumbnail').attr('src', e.target.result)
        };

        reader.readAsDataURL(file);
    }
</script>

</body>
</html>