<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')"></head>

<body>
<nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})}, ${usuario.getAdminApproved()})"></nav>
<div class="container-fluid">

    <h2 th:text="'Nueva tarea para el equipo ' + ${equipo.getNombre()}"></h2>

    <form method="post" th:action="@{/equipos/{id}/tareas/nueva/{idUsuario}(id=${equipo.id}, idUsuario=${usuario.id})}" th:object="${tareaData}">
        <div class="col-6">
            <div class="form-group">
                <label for="titulo">Título de la tarea:</label>
                <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción de la tarea:</label>
                <input class="form-control" id="descripcion" name="descripcion" th:field="*{descripcion}" type="text"/>
            </div>

            <div class="form-group">
                <label for="estado">Estado de la tarea:</label>
                <select class="form-control" id="estado" name="estado" required th:field="*{estado}" type="text">
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                </select>
            </div>
            <div class="form-group">
                <label for="prioridad">Prioridad de la tarea:</label>
                <select class="form-control" id="prioridad" name="prioridad" required th:field="*{prioridad}" type="text">
                    <option value="springgreen">Baja</option>
                    <option value="yellow">Media</option>
                    <option value="red">Alta</option>
                </select>
            </div>
            <div th:if="${equipo.getIdAdmin() == usuario.getId()}" class="form-group">
                <select class="form-control" id="usuario" name="usuario">
                    <option value="0">Todos</option>
                    <option th:each="user : ${equipo.getUsuarios()}"
                            th:value="${user.getId()}"
                            th:text="${user.getNombre()}"></option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Crear tarea</button>
            <a class="btn btn-link" th:href="@{/equipos/{id}(id=${equipo.id})}">Cancelar</a>


        </div>
    </form>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>