<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')">
  <nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})})"></nav>
</head>

<body>
<div class="container-fluid">

  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${usuarios}">
          <td th:text="${user.id}"></td>
          <td th:text="${user.email}"></td>
          <td th:text="${user.nombre}"></td>
          <td><a class="btn btn-primary btn-xs" th:href="@{/usuarios/{id}(id=${user.id})}"/>Descripción</a>
        </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>

<div th:replace="fragments::javascript"/>

</body>
</html>