<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Login')">
  <nav th:replace="fragments :: Menu (${usuario.nombre}, @{/usuarios/{id}/tareas(id=${usuario.id})}, ${usuario.getAdminApproved()})"></nav>
</head>

<body>
<div class="container-fluid">

  <div class="row mt-3">
    <div class="col">
      <table class="table table-striped" >
        <thead>
        <tr>
          <th>Id</th>
          <th>Imagen</th>
          <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="equipo: ${equipos}">
          <td th:text="${equipo.id}"></td>
          <td><img th:src="@{${'/user-images/team-images/' + equipo.getImage()}}" width="30" height="40" style="border-radius: 20px;" ></td>
          <td th:text="${equipo.nombre}"></td>
          <td><a class="btn btn-primary btn-xs" th:href="@{/equipos/{id}(id=${equipo.id})}"/>Ver Equipo</a></td>
          <td th:if="${usuario.getEquipos().contains(equipo)}"><a  class="btn btn-primary btn-xs">Ver Tareas</a> </td>
          <td th:if="${usuario.getAdminApproved()}"><a class="btn btn-primary" th:href="@{/editarEquipo/{id}(id=${equipo.id})}" >Modificar Equipo</a></td>
          <form method="post" th:action="@{/deleteequipos/{id}(id=${equipo.id})}" th:if="${usuario.getAdminApproved()}">
            <td>
              <button class="btn btn-danger btn-xs" th:text="Eliminar" type="submit"/></a>
            </td>
          </form>
        </tr>
        </tbody>
      </table>
      <p><a class="btn btn-primary" th:href="@{/crearEquipo}" > Crear Equipo</a>
    </div>
  </div>


</div>

<div th:replace="fragments::javascript"/>

</body>
</html>